<!-- blog/templates/blog/post_detail.html -->
{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title mb-3">{{ post.title }}</h1>
            <h6 class="card-subtitle mb-3 text-muted">
                By {{ post.author.username }} on {{ post.created_at|date:"F d, Y" }}
                {% if post.updated_at != post.created_at %}
                (Updated on {{ post.updated_at|date:"F d, Y" }})
                {% endif %}
            </h6>
            <p class="card-text">{{ post.content|linebreaks }}</p>
            <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
{% endblock %}