<!-- blog/templates/blog/post_create.html -->
<!-- filepath: c:\codeenv\django\midLabG2\midterm_exam\blog\template\blog\post_create.html -->
{% extends 'blog/base.html' %}

{% block title %}
Create New Post
{% endblock %}

{% block content %}
<h1 class="mb-4">Create New Post</h1>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
    {{ form.title.errors }}
    <input
      type="text"
      name="{{ form.title.name }}"
      maxlength="200"
      class="form-control"
      id="{{ form.title.id_for_label }}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="{{ form.content.id_for_label }}" class="form-label">Content</label>
    {{ form.content.errors }}
    <textarea
      name="{{ form.content.name }}"
      class="form-control"
      id="{{ form.content.id_for_label }}"
      rows="6"
      required
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}